<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxEx-TC1nIkM1Udm1MvFEOlvk471CTW54</string>
	<key>GCM_SENDER_ID</key>
	<string>111328080618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bicitrack</string>
	<key>PROJECT_ID</key>
	<string>bicitrack-de168</string>
	<key>STORAGE_BUCKET</key>
	<string>bicitrack-de168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111328080618:ios:cfb8dfbd7615ab6c0ddd93</string>
</dict>
</plist>